
  <!-- FROG -->
  <style>
    body { margin: 0; background: transparent; display: flex; justify-content: center; }
    .frog-art { font-family: 'IBM Plex Mono', monospace; font-size: 3.2px; color: #1e0e06; white-space: pre; display: block; opacity: 0.4; }
  </style>

    <pre class="frog-art">                                                                                      :------::                                                                            ::                 -
                                                                                 :-+#%%@@@@@@@%%#*=-
                                                                               =*%@@@@@@%@@@%@@@@@@@%*=:
                                                                             =#@@@@%%@@@@@@@@@@@@%%@@@@@#=:
                                                                           :#@@%@@@@@%*+-:::-=+#%@@@@%%@@@%*- -+**+-
                                                                          =%@@@@@@@%=    :---::::-+#@@@%@%@@@%@@@@@@*
                                                                         =@@@@@@@@+  -*%%@@@@@@%#+-:-+%@@@@@@@@@@@%@#
                                       :::          -==-                =@@@@@@@@- +%@@@@@%%%%%@@@@%*=:=#@@@@@@@@@@%:
                                     -#%@@%+:     =%@@@@%-             :%@@@@@@@--%@@@@@@@@@@@@@%%%@@@%+:-#@@@@@@@@#-
                                    :@@@@@@@%+:   %@@@@@@%             #@@@@@@@=+@@%@@@@@#=--=*%@@@@@@@@%+:=%@@@@@@@@*                         :::
                                     *@@@@@%@@%+: *@@@@@@@-           =@@@@@@@#*@@@@@@@%-       -#@@@@@%@@%- +@@@%@@@@%=                     +%@@@%+   =*##*=
                                      -*@@@@@@@@%=+@@@@@@@=           #@@@@@@%#@@@@@@@#:          -*@@@@@%@@+ :*@@%@@%@@*                   +@@@@@@@=:#@@@@@@*
                                        -*@@@@@%@@@@@@@@@@#+++++=    =@@@@@@@@@@@@@@@%:             -%@@@@@@@#  =%@@@@@@@%-                 :%@@@@@@%%@%%@@%@*
                                          =%@@@@@@@@@@@@@@@@@@@@@%-  #@@@@@@@@@@@@@@@-               :#@@@@@%@#  :*@@@@@%@@=         :+###*+-#@@@@@@@@@@@@@@+
                                   :-+*##%%%@@@@@@@@@@@@@@@@%@@@@@= -@@@@@@@@@@@@@@@+                  #@%@@@%@#   =@@@@@@@@+       :%@@@@@@@@@@@@@@@@@@@@@=
                               :+#%@@@@@@@@@%@@@@@@@@@@@@@@@@%##*-  +@@@@@@@@@@@@@@%                    #@%@@@%@*   -%@@@@@@@*      :#@@@%%@@@@@@@@@@@@@@%-
                               #@@@@%%@@@@@@@@@@@@@@@@@@@@@@@%*=:   #@@@@@@@@@@@@@@=                    :%@@@@@@@=   :#@%@@@%@#       =*#@@@@@@@@@@@@@@@@%%%%%#=
                               +@@@@@@%%#*+======*%@@@@@@@@%@@@@@%*+@@@@@@@@@@@@@@%                      -@@@@@@@%:    #@%@@@%@#         -#@@@@@@@@@@@@@%@@@@@@@=
                                :=*+=-:             :-=*#%@@@@%%@@@@@@@@@@@@@@@@@@+                       +@@@@@%@*     #@@@@@%@#      :=*%@@@@@@@@@@@@@@@@@@@@#:
                                                         :=*#@@@@@%@@@@@@@@@@@@@@%:                        #@@@@@@@-     #@@@@@%@*   =*%@@@@@@@@@@@%###**++++=-
                                                             :=*%@@@@@@@@@@@@@@@@#                         -@@@@@@@#      #@@@@@@@**%@@@@%@@@@%#=:
                                                                 :*@@@@@@@@@@@@@@+                          #@@@@@@@=     :%@@@@@@@@@%%%@@@%*=
                                                                  +@@@@@@@%%@@@@*                           -@@@@@@@#      -@@@@@@@@@@@@%*=:
                                                                  #@@@@@@%::-=-:                             #@@@@@@@-     +@@@@@@@@@%#=:
                                                                 :%@@@@@@#                                   -@@%@@%@#     +@@@@@@@@@=
                                                                 -@@@@@@@#                                    *@@@@@@#      :*@@@@@@@*
                                                                 -@@@@@@@*                                     -*##*=         #@%@@@@@-
                                                                 -@@@@@@@*                                                    =@@@@@@@+
                                                                 -@@@@@@@*                                                    :%@@@@@@#
                                                                 -@@@@@@@#                                                     #@@@@@@%:
                                                                 :%@@@@@@#                                                     *@@@@@@@-
                                                                  #@@@@@@%:                                                    +@@@@@@@-
                                                                  +@@@@@@@=                                                    +@@@@@@@-
                                                                  -@@@@@@@*                                                    *@@@@@@@-
                                                                   %@@@@@@%:                                                   #@@@@@@%:
                                                                   +@@@@@@@+                                                  -@@@@@@@#
                                                                   :%@@@@@@%                                                  *@@@@@%@=
                                                                    *@@@@@@@+                                                -@%@@@%@#
                                                                    :%@@@@@@%:                                               =@@@@@@@-
                                                                     +@@@@@@@*                                                -*###*-
                                                                      #@@@@@@@=
                                                                      :%@@@@@@@-
                                                                       =@@@@@@@%:
                                                                        +@@@@@%@%:
                                                                         +@@@@@@@%:                                         -*##*+:
                                                                         :%@@@@@@@@:                                       +@@@@@@%*-
                                                                       -*%@@@@@@@@%:                                       +@@@%%%@@@#=
                                                                     -#@@@@@@@@@%=                                          -*%@@@@@@@@%=
                                                                   =#@@@%@@@@%*-                                              :=%@@@@@@@@%=
                                                                 =#@@@@@%@@%+:                                                   =#@@@@@@@@#:
                                                               -#@@@@@@@@%=            -+*#*+:                                     =%@@@@@%@@=
                                                              *@@@@@@@@%=           :+#@@@@@@@-                :=++=-                +@@@@@@@@+
                                                            -%@@@@@@@%=          :+#@@@@%%@@@%-               +%@@@@@#+-              -%@@@@@@@=
                                                           -%@%@@@@@*:        -+#@@@@%%@@@@#+:                #@@%%%@@@@%*=:           -@@@@@@@%
                                                           #@%@@@@@+     :-+*%@@@@%%@@@@%+-                    +#@@@@%%@@@@%#+=:        *@@@@@@@-
                                                          -@@@@@@@*   =*%%@@@@%%%@@@@%+-                         -+#@@@@@%%@@@@@%*+=-:  +@%@@@%@-
                                                          -@@@@@@@#  #@@@@@@@@@@@%#+-                               :=*%@@@@@%%@@@@@@%%#%@@@@@@%:
                                                           #@%@@@@@+ %@%@@@@@@#+-:                                      -=*%@@@@@@@@@@@@@@@@@@@#
                                                           :%@%@@@@@#*%@@@@@@@*                                             :=+*%@@@@@@@@@@@@@@-
                                                            :#@@%@@@@@%@@@@@@@@#:                                              +%@@@@@@@@@@@%@+
                                                              =%@@@@@@@@@@@@@@@@%-                                            #@@@@@@@@@@@@@@#
                                                                =%@@%@@@@@@@@@@@@@+                                          *@%@@@@@@@@@@@@%:
                                                                  +%@@@@@@@@@@@@@@@#:                                       -@@@@@@@@@@@@@@@=
                                                                   :+%@@@@@@@@@@@@%@%-                                      =@@@@@@@@@@@@@@*
                                                                     :*@@%@@@@@@@@@%@@-                                     =@%@@@@@@@@@@@%
                                                                       -#@@@@@@@@@@@%@%                                     -@@@@@@@@@@@@@=
                                                                         =%@@@@@@@@@@@%:                                     #@%@@@@@@@@@#
                                                                          :*@@@@@@@@@@%                                      :%@%@@@@@@@@=
                                                                           :#@@@@@@@@@-                                       -%@@@@@@@@%
                                                                        :+#@@@@@@@@@%-                                         :#@@@@@@@@#+:
                                                                      =#@@@@@%%@@@#=                                             +@@@@@@@@@@#*#%%%%%###*++-:
                                                               ::--:+%@@@%%@@@@%*-                                                 +%@@@@@%@@@@@@@@@@@@@@@@@#:
                                                         :-+*#%@@@@@@@@@@@@@%+-                                                      -+%@@@@@@@@@@@@@@@@%%@@@+
                                                     -=*%@@@@@@@@@@@@@@@@@#-                                                            -@@@@@@@@@@@@@@@@@%#+
                                                 :=*%@@@@@@@@@@@@@@@@@@@@@*                                                             -@@@@@@@@@@@@@@@@@#-
                                                +%@@@@@@@@@@@@@@@@@@@@@@@@@#:                                                           :@@@@@@@@@@@@@@@%@@@*
                                               =@@%@@@@@@@@@@@@@@@@@@@@@@@@@%+                                                           #@@@@@@@@@@@@@@@@@@@+
                                               :*%@@@@@@@%@@%*%@@@@@@@@@@@@%@@-                                                          =@@@@@@@@@%@@@@@@@@#:
                                                 *@@@@@@@@%= -@@@@@@@#-*%@@@%+                                                            +%@@@%*+%@@@@@@#-:
                                                =@%@@@%@%=   #@@@@@%@-  :--:                                                                :--:  :+#%%#=
                                                *@@@@@@%-   :%@@@@@@#
                                                 =#%%#*:     =#@@@%#:
                                                               :-::

                                                                                                                                                                                                        </pre>
  